.cont-emp-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../../Images/prop4_landing.webp');
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */    
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.cont-titulo-y-listaEmp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.cont-titulo-emp-page {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-props-emprendimientos {
    width: 80%;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid white;
}

.cont-listaEmp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive */
/* Tablets (pantallas hasta 1024px) */
@media (max-width: 1300px) {
    .cont-emp-page {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        height: auto;
        /* importante: dejá que crezca según contenido */
    }
    .cont-titulo-y-props-venta {
        width: 90%;
    }

    .titulo-props-emprendimientos {
        font-size: 18px;
        width: 100%;
        padding: 8px;
    }

    .cont-titulo-emp {
        width: 100%;
    }

}

/* Celulares grandes (pantallas hasta 768px) */
@media (max-width: 1000px) {
    .titulo-props-emprendimientos {
        font-size: 16px;
        padding: 6px;
        border-bottom: none;
    }

    .cont-home-propsDestacadas {
        padding: 8px;
    }

    .cont-titulo-emp-page {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.titulo-props-emprendimientos{
    margin: 0;
}
}
