.contGralListaP {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-titulo-listaProps{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cont-h1-listaProps{
    width: 50%;
    height: 100%;
}
.cont-btns-listaProps{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.contListaP {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.cont-card-listaProps{
    margin-bottom: 20px;
}
.no-props{
    width: 100%;
    height: 663px;
    display: flex;
    justify-content: center;
}
/* responsive */

@media screen and (max-width: 1000px) {
    .contListaP{
        width: 98%;
        justify-content: space-around;
        margin-top: 20px;
    }
}
@media screen and (max-width: 750px) {
    .contListaP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
}
@media screen and (max-width: 600px) {
    .contGralListaP,
    .cont-card-listaProps,
    .contListaP,
    .cont-mapa-props-home{
        width: 98%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-mapa-props-home {
        background-color: aqua;
    }
}
