.cont-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-home-propsDestacadas{
    width: 80%;
    min-height: 100vh;
}
.cont-home-Emprendimientos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(229, 229, 227);
}