.cont-page-ventas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.cont-lista-propsVentas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-map-Venta{
    width: 80%;
    margin-bottom: 30px;
}