.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-navbar);
}

.sub-cont-navbar {
    width: 90%;
    height: 80px;
    display: flex;
}

.cont-navbar-navA {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cont-navbars-byc {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cont-navbars-byc {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.cont-navbar-navB {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cont-navbar-navC {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
}

/* responsive */
@media screen and (max-width: 1300px) {
    .sub-cont-navbar {
        width: 95%;
    }

    .cont-navbar-navA {
        width: 30%;
    }

    .cont-navbars-byc {
        width: 90%;
    }

    .cont-navbar-navB {
        width: 80%;
    }
}

@media screen and (max-width: 950px) {
    .sub-cont-navbar {
        width: 95%;
    }

    .cont-navbars-byc {
        width: 90%;
    }

    .cont-navbar-navB {
        width: 98%;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        width: 100%;
    }

    .sub-cont-navbar {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cont-navbars-byc {
        display: none;
    }

    .cont-navbar-navA {
        width: 100%;
    }
}