.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
}

.sub-cont-navbar {
    width: 90%;
    height: 80px;
    display: flex;
}

.navbar.scrolled {
    background-color: var(--fondo-navbar);
}

.cont-navbar-navA,
.cont-navbars-byc {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cont-navbars-byc {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cont-navbar-navB,
.cont-navbar-navC {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
}

/* responsive */
@media screen and (max-width: 1300px) {
    .sub-cont-navbar {
    width: 95%;
}
    .cont-navbar-navA{
        width: 30%;
    }
    .cont-navbars-byc{
        width: 70%;
    }
}
@media screen and (max-width: 950px) {
    .sub-cont-navbar {
    width: 95%;
}
    .cont-navbar-navA{
        width: 20%;
    }
    .cont-navbars-byc{
        width: 80%;
    }
}
@media screen and (max-width: 730px) {
    .navbar {
        width: 100%;
        height: 60px;
    }

    .sub-cont-navbar {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cont-navbars-byc {
        display: none;
    }

    .cont-navbar-navA {
        width: 100%;
    }
}