.cont-navbar-B{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.cont-navbar-B-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-tel{
    margin-right: 10px;
}
.p-mail{
    margin-right: 23px;
    text-decoration: none;
}