.cont-navbar-A {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-menu-hambur {
    display: none;
}

.cont-logo-navA {
    position: absolute;
    left: 50px;
}

.logo-navbarA {
    height: 3rem;
}

/* responsive */
@media screen and (max-width: 600px) {
    .cont-menu-hambur {
        position: absolute;
        top: 25px;
        left: 20px;
    }
}